body{

    background-image: url(photo/img1.jpg);
    font-size: 2vw;
    text-align: center;
    margin: auto;
    color: aqua;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

table{
    
    margin: auto;
    color: rgb(47, 108, 130);

}

input{

    border-radius: 0.5vw;
    width: 10vw;

}

.heading{
    
    background-color: rgb(171, 39, 145);
    color: aqua;


}
h2{

    background-color: rgb(171, 39, 145);
    margin-top: -0.5%;
}